.announce {
  padding-bottom: 30px;
}

/* .conference {} */
.conference__content {
  padding: 24px 0px;
  position: relative;

  display: flex;
  justify-content: flex-end;
}
.conference__items {
  position: relative;
  z-index: 1;

  max-height: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  column-gap: 50px;
  row-gap: 14px;
}
.conference-item {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 1.3;
  color: var(--white);

  word-break: keep-all;
  overflow-wrap: normal;
}
.conference-item:nth-child(1),
.conference-item:nth-child(2) {
  max-width: 220px;
}
.conference-item:nth-child(3),
.conference-item:nth-child(4) {
  max-width: 260px;
}
.conference-item:nth-child(5),
.conference-item:nth-child(6) {
  max-width: 200px;
}
.conference__decor {
  position: absolute;
  top: -10px;
  left: -40px;
}
@media (max-width: 500px) {
  .conference__content {
    padding-top: 134px;
    padding-bottom: 0px;
  }
  .conference__items {
    max-height: none;
    width: 100%;
    padding-left: 20px;
  }
  .conference-item:nth-child(n) {
    max-width: 100%;
  }
  .conference__decor {
    max-height: 110px;
    top: 0px;
    left: 0px;
  }
}

/* .audience {} */
.audience__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 4px;
}
.audience-item {
  --icon-size: 36px;

  padding: 18px 24px;
  border-radius: 24px;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(to right, #49511F 0%, #262626 65%);
}
.audience-item__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.4px;
  font-style: oblique;
  color: var(--white);
}
.audience-item__icon {
  flex: 0 0 var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);

  display: block;
  position: relative;
}
.audience-item__icon::before {
  content: '';

  width: 100%;
  height: 0%;
  border: 1px solid var(--accent-color);

  position: absolute;
  top: 50%;
  left: 0;
}
.audience-item__icon::after {
  content: '';

  width: 0%;
  height: 100%;
  border: 1px solid var(--accent-color);

  position: absolute;
  top: 0;
  left: 50%;
}
@media (max-width: 500px) {
  .audience__items {
    grid-template-columns: 1fr;
  }
  .audience-item {
    padding: 20px 24px;
  }
  .audience-item__title {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}

/* schedule */
.schedule {
  overflow-x: hidden;
}
.schedule__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.schedule .section__title {
  margin-bottom: 0px;
}
.schedule__content {
  --shade-size: 40px;

  margin-top: 50px;
  position: relative;
}
.schedule__content::before {
  content: '';

  height: 100%;
  width: var(--shade-size);

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  background: linear-gradient(to right, var(--black), transparent);
}
.schedule__content::after {
  content: '';

  height: 100%;
  width: var(--shade-size);

  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;

  background: linear-gradient(to left, var(--black), transparent);
}
.schedule__slider {
  --slide-width: 390px;
}
.schedule__slider .swiper-pagination {
  display: none;
}
.schedule-slide {
  flex: 0 0 var(--slide-width);
  height: auto;

  padding: 24px 24px 34px 24px;

  display: flex;
  flex-direction: column;

  background-color: var(--dark-100);
  border-radius: 24px;

  position: relative;
  overflow: hidden;
}
.schedule-slide__title {
  position: relative;
  z-index: 1;

  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-style: oblique;
  color: var(--accent-color);
}
.schedule-slide__subtitle {
  position: relative;
  z-index: 1;

  margin-top: 10px;

  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: var(--white);
  opacity: 0.6;
}
.schedule-slide__body {
  position: relative;
  z-index: 1;

  margin-top: 32px;
  flex: 1 1 auto;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* .schedule-slide__author {} */
.schedule-slide__avatar {
  --avatar-size: 110px;
  
  flex: 0 0 var(--avatar-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--avatar-size);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
}
.schedule-slide__roles {
  margin-top: 15px;

  display: flex;
  flex-direction: column;
}
.schedule-slide__role {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  color: var(--white);
}
/* .schedule-slide__company {} */
.schedule-slide::after {
  --decor-size: 330px;

  content: '';

  position: absolute;
  left: 70%;
  top: 85%;

  width: var(--decor-size);
  height: var(--decor-size);
  border-radius: var(--decor-size);

  background-color: var(--accent-color);
  filter: blur(calc(var(--decor-size) / 2));
}
.schedule-slide--decor-top-right::after {
  top: auto;
  bottom: 80%;
}

.speakers .section__title {
  margin-bottom: 70px;
}
.speakers__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 32px;
}
.speaker-card {
  --avatar-size: 220px;


}
.speaker-card__avatar {
  flex: 0 0 var(--avatar-size);
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-size);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.speaker-card__avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.speaker-card__name {
  padding: 8px 8px 0px 8px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--white);
}
.speaker-card__role {
  padding: 0px 8px;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--dark-500);
}