.announce {
  padding-bottom: 30px;
}

/* .conference {} */
.conference__content {
  padding: 24px 0px;
  position: relative;

  display: flex;
  justify-content: flex-end;
}
.conference__items {
  position: relative;
  z-index: 1;

  max-height: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  column-gap: 50px;
  row-gap: 14px;
}
.conference-item {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 1.3;
  color: var(--white);

  word-break: keep-all;
  overflow-wrap: normal;
}
.conference-item:nth-child(1),
.conference-item:nth-child(2) {
  max-width: 220px;
}
.conference-item:nth-child(3),
.conference-item:nth-child(4) {
  max-width: 260px;
}
.conference-item:nth-child(5),
.conference-item:nth-child(6) {
  max-width: 200px;
}
.conference__decor {
  position: absolute;
  top: -10px;
  left: -40px;
}
@media (max-width: 500px) {
  .conference__content {
    padding-top: 134px;
    padding-bottom: 0px;
  }
  .conference__items {
    max-height: none;
    width: 100%;
    padding-left: 20px;
  }
  .conference-item:nth-child(n) {
    max-width: 100%;
  }
  .conference__decor {
    max-height: 110px;
    top: 0px;
    left: 0px;
  }
}

/* .audience {} */
.audience__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.audience-item {
  --icon-size: 36px;

  height: fit-content;
  padding: 16px 24px 20px 24px;
  border-radius: 24px;

  background: linear-gradient(to right, #49511F 0%, #262626 65%);
  cursor: pointer;

  user-select: none;
}
.audience-item__header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.audience-item__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.4px;
  font-style: oblique;
  color: var(--white);
}
.audience-item__icon {
  flex: 0 0 var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);

  display: block;
  position: relative;

  transform-origin: center;
  transition: 0.3s;
}
.audience-item.opened .audience-item__icon {
  transform: rotateZ(45deg);
}
.audience-item__icon::before {
  content: '';

  width: 100%;
  height: 0%;
  border: 1px solid var(--accent-color);

  position: absolute;
  top: 50%;
  left: 0;
}
.audience-item__icon::after {
  content: '';

  width: 0%;
  height: 100%;
  border: 1px solid var(--accent-color);

  position: absolute;
  top: 0;
  left: 50%;
}
.audience-item__body {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #FFFFFF99;

  transition: 0.3s;
}
.audience-item.opened .audience-item__body {
  max-height: 1000px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.audience-item:not(.opened) .audience-item__body {
  line-height: 0;
  opacity: 0;
  max-height: 0;
}
@media (max-width: 991px) {
  .audience-item {
    padding: 15px 10px;
  }
  .audience-item__header {
    min-height: 60px;
  }
  .audience-item__title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .audience__items {
    grid-template-columns: 1fr;
  }
  .audience-item {
    padding: 20px 24px;
  }
  .audience-item__title {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}

/* schedule */
.schedule {
  overflow-x: hidden;
}
.schedule__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.schedule .section__title {
  margin-bottom: 0px;
}
.schedule__content {
  --shade-size: 40px;

  margin-top: 50px;
  position: relative;
}
.schedule__content::before {
  content: '';

  height: 100%;
  width: var(--shade-size);

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  background: linear-gradient(to right, var(--black), transparent);
}
.schedule__content::after {
  content: '';

  height: 100%;
  width: var(--shade-size);

  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;

  background: linear-gradient(to left, var(--black), transparent);
}
.schedule__slider {
  --slide-width: 390px;
}
.schedule__slider .swiper-pagination {
  display: none;
}
.schedule-slide {
  flex: 0 0 var(--slide-width);
  height: auto;

  padding: 24px 24px 34px 24px;

  display: flex;
  flex-direction: column;

  background-color: var(--dark-100);
  border-radius: 24px;

  position: relative;
  overflow: hidden;
}
.schedule-slide__title {
  position: relative;
  z-index: 1;

  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-style: oblique;
  color: var(--accent-color);
}
.schedule-slide__subtitle {
  position: relative;
  z-index: 1;

  margin-top: 10px;

  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: var(--white);
  opacity: 0.6;
}
.schedule-slide__body {
  position: relative;
  z-index: 1;

  margin-top: 32px;
  flex: 1 1 auto;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* .schedule-slide__author {} */
.schedule-slide__avatar {
  --avatar-size: 110px;
  
  flex: 0 0 var(--avatar-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--avatar-size);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
}
.schedule-slide__roles {
  margin-top: 15px;

  display: flex;
  flex-direction: column;
}
.schedule-slide__role {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  color: var(--white);
}
/* .schedule-slide__company {} */
.schedule-slide::after {
  --decor-size: 330px;

  content: '';

  position: absolute;
  left: 70%;
  top: 85%;

  width: var(--decor-size);
  height: var(--decor-size);
  border-radius: var(--decor-size);

  background-color: var(--accent-color);
  filter: blur(calc(var(--decor-size) / 2));
}
.schedule-slide--decor-top-right::after {
  top: auto;
  bottom: 80%;
}

/* speakers */
.speakers .section__title {
  margin-bottom: 70px;
}
.speakers__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
}
.speaker-card {
  --avatar-size: 220px;
}
.speaker-card__avatar {
  flex: 0 0 var(--avatar-size);
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-size);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.speaker-card__avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.speaker-card__name {
  padding: 8px 8px 0px 8px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--white);
}
.speaker-card__role {
  padding: 0px 8px;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--dark-500);
}
@media (max-width: 500px) {
  .speakers__grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    column-gap: 10px;
    row-gap: 40px;
  }
  .speaker-card {
    --avatar-size: 160px;
  }
  .speaker-card__name,
  .speaker-card__role {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }
  .speaker-card__role br {
    display: none;
  }
}

/* partners */
.partners__block {
  width: 100%;

  padding: 18px 18px 54px 18px;
  border-radius: 24px;
}
.partners__block.primary {
  padding-bottom: 66px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(45deg, #49511F, #262626 50%);
}
.partners__block:not(.primary) {
  border: 1px solid #D4FF0066;
}
.partners__block:not(:first-child) {
  margin-top: 4px;
}
.partners__block-title {
  width: 100%;
  display: flex;
  justify-content: center;

  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-style: oblique;
  color: var(--accent-color);
}
.partners__primary-logo {
  margin-top: 46px;
}
.partners__description-title {
  margin-top: 40px;

  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  color: var(--white);
}
.partners__description-text {
  max-width: 700px;
  margin-top: 10px;

  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: var(--white);
  opacity: 0.6;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.partners__logos {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  gap: 70px;
}
.partners__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners__logo-caption {
  margin-top: 25px;

  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.4px;
  color: var(--white);
}
@media (max-width: 500px) {
  .partners__block {
    padding: 18px 20px 50px 20px;
  }
  .partners__block-title {
    font-size: 22px;
  }
  .partners__primary-logo {
    margin-top: 28px;
    max-height: 48px;
  }
  .partners__description-title {
    margin-top: 26px;
  }
  .partners__description-text {
    margin-top: 10px;
  }
  .partners__logos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .partners__block:last-child .partners__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tariffs */
.tariffs__header {
  padding: 20px 0px;
  border-radius: 24px 24px 0px 0px;

  background-color: var(--dark-100);
}
.tariffs .section__title {
  margin-bottom: 0px;
}
.tariffs__decor {
  --decor-radius: 5px;

  width: 100%;
  height: calc(var(--decor-radius) * 2);
  margin-top: calc(0px - var(--decor-radius) * 2);

  background-image: radial-gradient(circle, black var(--decor-radius), transparent 0px);
  background-position: calc(0px - var(--decor-radius) * 2) 0;
  background-size: 20px;
  background-repeat: repeat-x;
}
.tariffs__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.tariffs-card {
  background: linear-gradient(to bottom, #1C1C1C, #8520D8);
  border-radius: 0px 0px 24px 24px;

  padding: 30px 24px;

  display: flex;
  flex-direction: column;
}
.tariffs-card__header {
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid #FFFFFF33;
}
.tariffs-card__title {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.7px;
  font-style: oblique;
  color: var(--white);
}
.tariffs-card__price {  
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.7px;
  color: var(--accent-color);
}
.tariffs-card__body {
  flex: 1 1 auto;
  padding: 30px 0px;
}
.tariffs-card__conditions {
  padding-left: 25px;

  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  color: #fff;
  
  opacity: 0.7;
}
.tariffs-card__conditions li:not(:last-child) {
  margin-bottom: 10px;
}
.tariffs-card__bonus {
  --icon-size: 18px;

  margin-top: 10px;
  
  display: flex;
  align-items: center;
  gap: 5px;
}
.tariffs-card__bonus-icon {
  flex: 0 0 var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: var(--icon-size);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  line-height: 1;

  background-color: #D4FF001A;
  color: var(--accent-color);
}
.tariffs-card__bonus-text {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.4px;
  font-style: oblique;

  color: var(--accent-color);
}
.tariffs-card__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.tariffs-card__button {
  width: 100%;

  border-radius: 16px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.5px;

  transition: 0.3s;
}
.tariffs-card__button.primary {
  background-color: var(--accent-color);
  color: var(--second-color);
}
.tariffs-card__button.primary:hover {
  background-color: var(--accent-color-hover);
}
.tariffs-card__button.secondary {
  color: var(--white);
  border: 1px solid #FFFFFFCC;
}
.tariffs-card__button.secondary:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--second-color);
}
